* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

#menu ul {
    text-align: center;
    background: #333333;
    list-style: none;
    overflow: auto;
    display: fixed;
}

#menu ul li {
    display: inline-table;
    width: 14%;
    line-height: 70px;
    font-size: 20px;
    background: #333333;
    display: relative;
}

#menu ul li a {
    color: white;
    display: block;
    width: 100%;
    height: 30%;
    font-size: 20px;
    opacity: 0.7;
    text-decoration: none;
}

#menu ul li #submenu {
    width: 116px;
    line-height: 40px;
    display: none;
    position: absolute;
    overflow: auto;
    background: red;
}

#menu ul li #submenu li a {
    color: lightgrey;
    width: 116px;
    background: #333333;
}

#menu ul li a:hover {
    color: red;
    background: #333333;
}

#menu ul li #submenu a:hover {
    color: red;
    background: #333333;
}

#menu ul li:hover #submenu {
    display: block;
}